<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <connectionStrings>
    <add name="BugTrackerConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\NSCCSTUDENT\Source\Repos\DBAS\w0279488\RyanAmaral_DBAS3200_BugTracker\RyanAmaral_DBAS3200_BugTracker_DataLayer\Database\RyanAmaral_DBAS3200_BugTracker_Database.mdf;Integrated Security=True"/>
  </connectionStrings>
</configuration>
